* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1.5vw;
  margin-left: 1.5vw;
  transition: 1s;
} 
#cards > div {
  background-color: #ffffff;
  width: 22vw;
  margin: 1vw;
  box-shadow: 0 0 8px #818181 ;
}

#cards > div:hover{
  box-shadow: 0 0px 20px #000000;
  transition : 0.3s;
}

.card-title:hover{
  cursor: pointer;
  color:#007bff;
}
  
.thumbnail {
  width: 22vw;
  height: 22vw;
}
  
.card-title {
  font-size: 18px;
  padding: 4px 16px;
  font-weight: bold;
  cursor: default;
}
  

.card-details {
  font-size: 16px;
  padding: 4px 16px;
}

@media screen and (max-width: 600px) {
  #cards {
    flex-flow: row wrap;
  }
    
  #cards > div {
    width: 45vw;
    text-align: center;
    font-size: 2vw;
    margin: 2vw;
    box-shadow: 0 0 4px #000000;
  }
  
  .thumbnail {
    width: 45vw;
    height: 45vw;
  }

  .card-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
    
  .card-details {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
  
@media screen and (max-width: 365px) {
  #cards {
    flex-flow: column;
  }
  
  #cards > div {
    width: 90vw;
    text-align: center;
    font-size: 2vw;
    margin: 4vw;
    box-shadow: 0 0 4px #000000;
  }
  
  .thumbnail {
    width: 90vw;
    height: 90vw;
  }

  .card-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
    
  .card-details {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

/* videos */

#videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1.5vw;
  margin-left: 1.5vw;
  transition: 0.5s;
  align-content: center;
}

#videos > div {
  background-color: #ffffff;
  width: 30vw;
  margin: 1vw;
  box-shadow: 0 0 8px #818181;
  border-radius: 0 0 10px 10px;
}

#videos > div:hover{
  box-shadow: 0 0px 10px #000000;
  transition: 0.25s;
}

#videos > div > iframe {
  width: 30vw;
  height: 16.875vw;
}
  
.video-title {
  font-size: 18px;
  padding: 4px 16px;
  font-weight: bold;
}
  
.video-details {
  font-size: 18px;
  padding: 4px 16px;
}

@media screen and (max-width: 500px) {
  #videos {
    flex-flow: column;
    margin: 0;
  }
  
  #videos > div {
    width: 100vw;
    height: fit-content;
    text-align: center;
    font-size: 2vw;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid black;
  }
  
  #videos > div:hover {
    box-shadow: none;
  }
  
  #videos > div > iframe {
    width: 100vw;
    height: 56.25vw;
  }

  .video-title {
    font-size: 16px;
    padding: 3px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
    
  .video-details {
    font-size: 16px;
    padding: 0 3px 3px 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* judging Panel */

#heading-color{
  color: black;
   font-weight: lighter;
}

#cards1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1.5vw;
  margin-left: 1.5vw;
  transition: 1.25s
}
  
#cards1 > div {
  background-color: #ffffff;
  width: 22vw;
  margin: 1vw;
  box-shadow: 0 0 8px #818181;
  border-radius:  0 0 6px 6px;
  text-align: center;
}

#cards1 > div:hover{
  box-shadow: 0 0px 10px #000000;
  transition : 0.3s;
}

.card1-title:hover{
  cursor: pointer;
  color:#007bff;
}
  
.thumbnail1 {
  width: 22vw;
  height: 22vw;
}
  
.card1-title {
  font-size: 18px;
  padding: 4px 16px;
  font-weight: bold;
}
  
.card-details {
  font-size: 2.5vh;
  padding: 4px 16px;
}

@media screen and (max-width: 600px) {
  #cards1 {
    flex-flow: row wrap;
  }
    
  #cards1 > div {
    width: 45vw;
    text-align: center;
    font-size: 2vw;
    margin: 2vw;
    box-shadow: 0 0 4px #000000;
  }
  
  .thumbnail1 {
    width: 45vw;
    height: 45vw;
  }
  .card1-title {
    font-size: 3vw;
    font-weight: bold;
  }
   
  .card-details {
    font-size: 2.5vw;
  }
}
  
@media screen and (max-width: 365px) {
  #cards1 {
    flex-flow: column;
  }
  
  #cards1 > div {
    width: 90vw;
    text-align: center;
    font-size: 2vw;
    margin: 4vw;
    box-shadow: 0 0 4px #000000;
  }
  
  .thumbnail1 {
    width: 90vw;
    height: 90vw;
  }

  .card1-title {
    font-size: 3vw;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
    
  .card-details {
    font-size: 2.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

